@model BayiPuan.Entities.Concrete.User

@{
    ViewBag.Title = "UpdateActivation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container w3-center">
    <center>
        <div class="w3-card-4 w3-dark-grey" style="width: 70%">
            <div class="w3-container w3-center">
                <h3>Parola Değiştir</h3>
              
                <img src="~/images/img_avatar3.png" alt="Avatar" style="width:30%" />
                <div class="w3-container w3-padding-16">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBox("userName", @HttpContext.Current.User.Identity.Name.ToUpper(), new { @class = "form-control", placeholder = "UserName", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBox("password", null, new { @class = "form-control valid", placeholder = "Yeni Parola", type = "password", @data_val = "true", @data_val_required = "Boş Bırakılamaz !!!" })
                            @Html.ValidationSummary(false, "", new { @class = "w3-text-yellow" })
                        </div>
                    </div>
                </div>
                <input type="submit" value="Parola Değiştir" class="btn btn-success btn-block" />}
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
