@model BayiPuan.MvcWebUi.Models.ComplexTypeModels.ViewModel
<style>
    .w3-left {
        padding-left: 5px !important;
    }
</style>

<div class="w3-quarter">
    <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fas fa-smile  w3-xxxlarge"></i></div>
        <div class="w3-right">
            <h3> @{
                       var puan = "BayiPuan:";
                   }
                    @puan.ToString()@Model.remainingScore.ToString("N")
                  
                
                </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Kalan Puan</h4>
    </div>
</div>