
@{
    ViewBag.Title = "NoAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Yetkisiz İşlem</h5>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning">
                    Bu işlemi yapmaya yetkiniz bulunmamaktadır. Sorun olduğunu düşünüyorsanız lütfen sistem yöneticisi ile temasa geçiniz.
                </div>
            </div>
        </div>
    </div>
</div>

