
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPageFound</title>
    @*<link href="~/Content/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/page404.css" rel="stylesheet" />
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                @*<div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Cover</h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>*@

                <div class="inner cover">
                    <h1 class="cover-heading">404</h1>
                    <p class="lead">Sayfa Bulunamadı</p>
                    <p class="lead">
                        <a href="/" class="btn btn-lg btn-default">Siteye Dön</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <a href="#">Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
